<div>
    <header>
        <div class="row">
            <p>
              Nandi's Clothing Emporium
            </p>
        </div>
    </header>
    <h2>About Us</h2>
    <br>
    <br>
    <p>
     we sell clothes to people between the age of 16-28. We sell women's tops, men's t-shirts, shoes and
        dresses.
        We have your favourite clothes.
    </p>

    <br><br><br>

    <h2>CONTACT US</h2>
    <br>

    <img src="/pictures/whatsapp.jpg" class="contact">: 0214588469
    <br>

    <img src="/pictures/instagram.jpg" class="contact">: @Nandi_L
    <br>

    <img src="/pictures/twitter.jpg" class="contact">: @Nandi23
    <br>

    <img src="/pictures/facebook.jpg" class="contact">: Nandi_L
    <br><br><br>
    <a href="/"><button>HOME</button></a>
    <br><br>
    <footer>
        <div class="row">
            <p>
                Copyright &copy; 2020 by Sino. All rights reserved.
            </p>
        </div>
    </footer>
</div>