<div class="">
    <header>
        <div class="row">
            <p>
                Nandi's Clothing Emporium
            </p>
        </div>
    </header>
    <br>
    <br>
    <p>
        <strong>Your items will be delivered to you, make sure you have enough cash :)</strong>
    </p>
    <br><br>
    <a href="/"><button>HOME</button></a>
    <br>
    <br>
    <footer>
        <div class="row">
            <p>
                Copyright &copy; 2020 by Sino. All rights reserved.
            </p>
        </div>
    </footer>
</div>