<header>
    <div class="row">
        <p>
           Nandi's Clothing Emporium
        </p>
    </div>
</header>

<div class="enquiry">
<h2>Make enquiry</h2>

<form action="/">
    <label for="fname">Name:</label><br>
    <input type="text" id="fname" name="fname"  placeholder="enter name"><br>
    <label for="lname">Surname:</label><br>
    <input type="text" id="lname" name="lname"  placeholder="enter surname"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"  placeholder="enter email"><br>
    <label for="number">Phone number:</label><br>
    <input type="text" id="number" name="number"  placeholder="enter email"><br>
    <label for="enquiry">Customer enquiry:</label><br>
    <textarea name="message" placeholder="your enquiry"></textarea><br><br>
    <input type="submit" value="Submit">
</form>
<br><br>

<footer>
    <div class="row">
        <p>
            Copyright &copy; 2020 by Sino. All rights reserved.
        </p>
    </div>
</footer>
</div>