<header>
    <div class="row">
        <p>
            Copyright &copy; 2020 by Sino. All rights reserved.
        </p>
    </div>
</header>
<br>
<br>
<div class="payment">


    <a href="cash">
        <img src="/pictures/ubercashsss2.jpg">

    </a>
    <a href="card">
        <img src="/pictures/Credit-cards.jpg">
    </a>

</div>
<br>
<br>
{{!-- <br>
<br> --}}
<footer>
    <div class="row">
        <div class="col span-1-of-2">
            <ul class="footer-nav">
                <li><a href="/about">About Us</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <p>
            Copyright &copy; 2020 by Sino. All rights reserved.
        </p>
    </div>
</footer>